/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.about,
.capabilities,
.skills,
.achievements,
.gallery,
footer {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.capabilities .cap-content,
.skills .skills-content,
.gallery .gallery-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #fef60f;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #fe9f11;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: #fe9f11;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: #fe9f11;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: #fe9f11;
}
.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #fe9f11;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* home section styling */
.home {
  display: flex;
  background: url("images/banner.jpg") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  width: 100%;
  display: flex;
}
.home .max-width .row {
  margin-right: 0;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: #fe9f11;
  font-weight: 500;
}
.home .home-content a {
  display: inline-block;
  background: #fe9f11;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid #fe9f11;
  transition: all 0.3s ease;
}
.home .home-content a:hover {
  color: #fe9f11;
  background: none;
}

/* about section styling */

.about .title::after {
  content: "who i am";
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color: #fe9f11;
}
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: inline-block;
  background: #fe9f11;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #fe9f11;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: #fe9f11;
  background: none;
}

/* capabilities section styling */
.capabilities,
.achievements {
  color: #fff;
  background: #111;
}
.capabilities .title::before,
.achievements.title::before {
  background: #fef60f;
}
.capabilities .title::after,
.achievements .title::after {
  background: #111;
  content: "what i can do";
}
.capabilities .cap-content .card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}
.capabilities .cap-content .card:hover {
  background: #fe9f11;
}
.capabilities .cap-content .card .box {
  transition: all 0.3s ease;
}
.capabilities .cap-content .card:hover .box {
  transform: scale(1.05);
}
.capabilities .cap-content .card i {
  font-size: 50px;
  color: #fe9f11;
  transition: color 0.3s ease;
}
.capabilities .cap-content .card:hover i {
  color: #fff;
}
.capabilities .cap-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 10px 0;
}

/* skills section styling */

.skills .title::after {
  content: "what i know";
}
.skills .skills-content .column {
  width: calc(50% - 30px);
}
.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p {
  text-align: justify;
}
.skills .skills-content .left a {
  display: inline-block;
  background: #fe9f11;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #fe9f11;
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
  color: #fe9f11;
  background: none;
}
.skills .skills-content .right .bars {
  margin-bottom: 15px;
}
.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
  overflow: hidden;
}

.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #fe9f11;
  width: 0;
  transition: width 1.5s ease-out;
}
.progress {
  background-color: lightgray;
  height: 5px;
  border-radius: 3px;
}
.progress-bar {
  background-color: #fe9f11;
  height: 100%;
  border-radius: 3px;
  transition: width 1s ease;
}

/* achievementss section styling */
.achievements .title::after {
  content: "what i achieved";
}
.achievements .carousel .card {
  background: #222;
  border-radius: 6px;
  padding: 10px 10px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.achievements .carousel .card:hover {
  background: #fe9f11;
}
.achievements .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.achievements .carousel .card:hover .box {
  transform: scale(1.05);
}
.achievements .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.achievements .carousel .card img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 5%;
  border: 5px solid #fe9f11;
  transition: all 0.3s ease;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}
.achievements .carousel .card:hover img {
  border-color: #fff;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #fe9f11 !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: #fe9f11 !important;
}
/* Gallery Section */
.gallery .title::after {
  content: "what i love";
}
.gallery {
  padding: 50px 0;
  background: #f9f9f9;
}

.gallery .title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 600;
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-content .row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.gallery-content .column {
  flex: 1;
  padding: 10px;
  max-width: calc(33.33% - 20px);
}

.gallery-content img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
  border: 3px solid #fe9f11;
}

.gallery-content img:hover {
  transform: scale(1.05);
}
.paragraph-content p {
  text-align: center;
  margin-bottom: 10px;
}

/* project section styling */
.projects .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

.projects .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #fef60f;
  transform: translateX(-50%);
}

.projects .title::after {
  content: "what i did";
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #fe9f11;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}
.projects {
  padding: 50px 0;
  background: #fff;
}

.projects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:10px;
}

.project {
  flex: 1 1 calc(33.33% - 20px);
  margin: 10px;
  overflow: hidden;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.project a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.project-info {
  padding: 10px;
  background: #fe9f11;
  border-radius: 6px;
  text-align: center;
  color: #222;
  font-family: "Ubuntu", sans-serif;
}


.project-info h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.project-info p {
  font-size: 16px;
}

.project:hover {
  transform: scale(1.05);
}

.project:hover img {
  transform: scale(1.1);
}

/* footer section styling */
footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a {
  color: #fe9f11;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}

/* footer section styling */
footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a {
  color: #fe9f11;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}

/* responsive media query start */
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
  .capabilities .cap-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .gallery-content .column {
    max-width: calc(50% - 20px);
  }

  .gallery-content img {
    height: 250px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
  .capabilities .cap-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .capabilities .cap-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .menu-btn .active:before {
    content: "";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .capabilities .cap-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .gallery .gallery-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .capabilities .cap-content .card {
    width: 100%;
    margin-bottom: 20px;
  }
  .gallery-content .column {
    max-width: 50%;
  }
  .gallery-content img {
    height: 200px;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
  .about .about-content .right .text,
  .skills .skills-content .left .text {
    font-size: 19px;
  }
  .right form .error-box {
    width: 150px;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
  .gallery-content .column {
    max-width: 100%;
  }
  .gallery-content img {
    height: 180px;
  }
}
